.main {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.subtitle {
    line-height: 1.8;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 0.4rem;
}

.backButton {
    position: relative;
    top: 4px;
}

.about {
    line-height: 1.6; 
}

@media(max-width: 768px) {
    .main {
        flex-direction: column;
        align-items: flex-start;
    }

    .links {
        margin-top: 0.2rem;
        flex-direction: row-reverse;
        align-items: flex-start;
    }

    .about {
        position: relative;
        top: 0.2rem;
        margin-right: 0.4rem;
    }
}